**/target
pkg/
*.tar*
**/interfaces.rs

# Debian packaging
/*.deb
/*.dsc
/*.changes
/*.buildinfo
!/*/debian
/*/debian/files
/*/debian/*.substvars
/*/debian/*.log
/*/debian/*.debhelper
/*/debian/*-stamp
/*/debian/*/
/build
