@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-6xl font-extrabold;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

input {
  outline: none;
}

input[type='range'] {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  @apply border-solid border-indigo-300 bg-purple-700 rounded-xl;
  border-width: 1px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply bg-white h-4 w-4 rounded-full transition-all;
}
