# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
[D-BUS Service]
Name=com.musikid.fancy
# We already have the systemd service to start
Exec=/bin/false
User=root
SystemdService=dbus-com.musikid.fancy.service
