# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
[Unit]
Description=Fancy Service Sleep Hook
After=suspend.target

[Service]
Type=simple
User=root
ExecStart=/bin/systemctl --no-block restart fancy.service

[Install]
WantedBy=suspend.target
