Source: fancy
Section: misc
Priority: optional
Maintainer: musikid <musikid@outlook.com>
Build-Depends: debhelper (>= 12),
  libdbus-1-dev,
  pandoc,
  rustc:native (>= 1.48),
  cargo:native
Standards-Version: 4.5.1
Homepage: https://github.com/MusiKid/fancy
Vcs-Browser: https://github.com/MusiKid/fancy
Vcs-Git: https://github.com/MusiKid/fancy.git
Rules-Requires-Root: no

Package: fancy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dbus
Recommends: systemd
Description: Set of software to control laptop fans.
	It includes a service daemon to allow accessing to the embedded controller
	and controlling it through *D-Bus*, and a CLI to send commands.
