Source: fancy
Section: misc
Priority: optional
Maintainer: musikid <musikid@outlook.com>
Build-Depends: debhelper (>= 12), dbus, pandoc
Standards-Version: 4.5.1
Homepage: https://github.com/MusiKid/fancy
Vcs-Browser: https://github.com/MusiKid/fancy
Vcs-Git: https://github.com/MusiKid/fancy.git
Rules-Requires-Root: no

Package: fancy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dbus
Recommends: systemd
Description: Fancy is a set of software to control laptop fans
